
<h1><%= @customer.full_name %> Chat</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Message Sent</th>
      <th scope="col">Message Received</th>
    </tr>
  </thead>

  <tbody>
    <% @text_chats.each do |text_chat| %>
      <tr>
        <td><%= text_chat.message_text unless text_chat.response %></td>
        <td><%= text_chat.message_text if text_chat.response %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text Chat', new_customer_text_chat_path(@customer) %>
